<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/medical_center?createDatabaseIfNotExist=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">mysql</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entities -->
        <mapping class="edu.ijse.fx.layered.orm.entity.TherapistEntity"/>
        <mapping class="edu.ijse.fx.layered.orm.entity.ProgramEntity"/>
        <mapping class="edu.ijse.fx.layered.orm.entity.SessionEntity"/>
        <mapping class="edu.ijse.fx.layered.orm.entity.PatientEntity"/>
        <mapping class="edu.ijse.fx.layered.orm.entity.PaymentEntity"/>

    </session-factory>
</hibernate-configuration>